[Desktop Entry]
GenericName=Megacubo
Name=Megacubo
Exec=run.sh
Icon=tv.megacubo.Megacubo
Terminal=false
Type=Application
Categories=AudioVideo;Video;
